extends layout

block content
  .index-content
    h1.background-title Ejemplos

    .example-selector
      .example-option
        h3.title Cobrar a tarjeta
        p.lead
          | Realiza un cobro puntual mediante Webpay Plus.
        a.btn-primary(href='/examples/charge') Ver ejemplo
      .example-option
        h3.title Planes y suscripciones
        p.lead
          | Crea planes de suscripción y recibe pagos automáticos con tarjetas de crédito.
        a.btn-primary(href='/examples/subscriptions') Ver ejemplo
      .example-option
        h3.title Botón de pago y Checkout
        p.lead
          | Brinda a tus usuarios una experiencia en constante mejora, optimizada y lista para dispositivos móviles.
        a.btn-primary(href='/examples/checkout') Ver ejemplo

