doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
