extends ../layout

block example-content
  h1 Fracaso! 😞

  p
    | No se pudo suscribir el plan. Verifica los datos de tarjeta e intenta nuevamente.

  a.btn.btn-primary(href="/examples/subscriptions")
    | Volver a intentar